.form{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    background-color: 
    
    white;
    
}

.titulo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    background-color: lightgray;
}
.centerdiv{
    display: flex;
    justify-content: center;
}