body{
    background-color: lightgray;
}
h1{
    margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 20px;
   border-radius: 6px;
   background-color: whitesmoke;
}
.informacao{
   margin-top: 10px;
   text-align: center;
   border: 3px solid black;
   border-radius: 6px;
   background-color: whitesmoke;
}
h3{
    text-align: center;
}