.nav{
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: darkgray;
    margin-top: 6px;
    text-align: center;
}
button{
    margin: 5px;
    border-radius: 6px;
    background-color: white;
}
.Home{
    text-align: center;
    justify-content: center;
    align-items: center;
}
